
.list_container {
  display: flex;
  justify-content: space-around;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}

header {
  display: flex;
  justify-content: space-around;
  padding: 10px 5% 10px 5%;
  background-color: white;
}

#logo {
  width: 100px;
}

.home {
  text-align: center;
}

.home img {
  padding: 100px;
}

a {
  text-decoration: none;
  color: black;
}

.pokemon-card {
  text-align: center;
  font-weight: bold;
}

.pokemon-card span {
  font-weight: normal;
  padding-left: 10px;
}

.pokemon-card ul {
  list-style-type: none;
}

.list-title{
  text-align: center;
}

body {
  background-color: lightblue;
}

a:hover {
  text-shadow: -.25px -.25px 0 black, .25px .25px black;
}